body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: white;
  }
  
  h2 {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-weight: bolder;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  
  a {
    color: brown;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 10%;
    position: absolute;
    background: brown;
    transition: width 0.2s ease 0s, left 0.8s ease -1s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }